* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

#send-message {
  background: #fff;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-color: #000;
  border-top-style: solid;
  border-top-width: 1px;
  display: none;
}

#send-message input {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  width: 85%;
  margin-right: .5%;
}

#send-message button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
  margin-left: 2%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

/* For the login modal */
#login-modal {
  position: fixed;
  top: 50px;
  width: 50%;
  height: 90%;
  left: 25%;
  background-color: grey;
  padding: 25px;
}

.modal-content {
  width: 90%;
  height: 100%;
  margin: auto;
  background-color: white;
}

#create-user {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

#create-user input {
  margin: 5px 0;
  padding: 2.5px;
}

/* For a person who does not want an account */
#generic-user {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}