* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --button: #d90d1e;
  --button-hover: #f2133c;
  --message: #bbb8b7;
  /* #8c4e03 */
  /* #730202 */
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 1.25em;
}

#send-message {
  background: #fff;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-color: #000;
  border-top-style: solid;
  border-top-width: 1px;
  display: none;
}

#send-message input {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  width: 85%;
  margin-right: .5%;
}

#send-message button {
  width: 20%;
  background-color: var(--button);
  border: none;
  padding: 10px;
  margin-left: 2%;
}

#send-message button:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background-color: var(--message);
}

/* For the login modal */
#login-modal {
  position: fixed;
  top: 50px;
  width: 50%;
  height: 90%;
  left: 25%;
  /* background-color: grey; */
  padding: 25px;
  border: 10px solid black;
}

.modal-content {
  width: 90%;
  height: 100%;
  margin: auto;
  background-color: white;
  transition: 200ms;
}

.blur {
  filter: blur(5px);
}

.right-align {
  text-align: right;
}

.margin-bottom {
  margin-bottom: 20px;
}

#login-modal form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

#login-modal form input {
  margin: 5px 0;
  padding: 2.5px;
}

/* For a person who does not want an account */
#generic-user {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
  text-align: center;
}

@media screen and (min-width: 800px) {
  main {
    width: 50%;
    margin: auto;
  }

  #send-message {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  #login-modal {
    width: 95%;
    left: 2.5%;
  }
}